.cardtitle {
    margin: 0 !important;
    text-shadow: 1px 1px 1px #c9c9c9;
    font-size: calc(0.7rem + 0.9vw);
  }
  
.cardcompany{
  font-size: calc(0.3rem + 0.8vw);
  text-shadow: 1px 1px 1px #c9c9c9;
}

.cardcontent{
  font-size: calc(0.2rem + 1vw);
}
