@keyframes moveSideways {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(5px);
    }
}

@keyframes moveUpwards {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(15px);
    }
}

.Card:hover {
    animation-play-state: paused;
    cursor: grab;
}
.Card:active {
    cursor: grabbing;
  }