.button-fade-in {
    opacity: 0;
    transform: translateY(-10px);
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.button-fade-in.active {
    opacity: 1;
    transform: translateY(0);
}

