@font-face {
  font-family: 'Roboto';
  src: url('./assets/fonts/Roboto/RobotoSlab-VariableFont_wght.ttf') format('truetype');   
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Playfair Display';
  src: url('./assets/fonts/Baskerville/LibreBaskerville-Bold.ttf') format('truetype'); 
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100dvh;
}
* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

input,
button,
textarea,
select {
  font: inherit;
}

li {
  text-wrap: balance;
  font-family: sans-serif;
}

p {
  text-wrap: pretty;
  font-family: sans-serif;

}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
  font-family: "Roboto", serif;
}

img,
video,
svg {
  height: auto;
  max-width: 100%;
}

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
    transition: none;
  }
}