.cvheader{
    background-color: rgba(63,113,143,255);
}

.headername{
    text-shadow: 0.5px 0.5px 0.5px #c9c9c9;
    margin: 0;
}

.headertitle{
    text-shadow: 0.5px 0.5px 0.5px #c9c9c9;
    margin: 0;
}