.cvheader{
    background-color: rgba(242, 187, 5, 0.5);
}

.headerlogo{
    width: 5px;
}

.headername{
    text-shadow: 0.5px 0.5px 0.5px #c9c9c9;
    margin: 0;
    padding: 0;
    font-size: calc(1rem + 1vw);
    color: #14192d;
}

.headertitle{
    text-shadow: 0.5px 0.5px 0.5px #c9c9c9;
    margin: 0;
    padding: 0;
    font-size: calc(0.4rem + 1vw);
    color: #14192d;
}